.login {
  margin: 4rem auto;
  max-width: 30rem;
  padding: 5px;
  border: 1px solid grey;
  border-radius: 8px;
  background-color: black;
}
.login h1 {
  color: rgb(243, 237, 237);
}

/* .button{
 
} */
